{#
---
Title : Cette page est a destination des tests
Date : 27-04-2024
Published : true
---
#}
{% extends 'base.html.twig' %}
{% block body %}
    {% set title = get_title_by_path(_self) %}
    <h1 class="font-black text-2xl mb-5">{{ title }}</h1>
{% endblock %}