{#
---
Title : Comment évoluer en tant que junior
Date : 01-01-2024
Published : true
---
#}
{% extends 'base.html.twig' %}
{% block body %}
    <h1>Voici Comment evoluer en tant que junior</h1>
{% endblock %}