{#
---
Title : je suis un test simple
Date : 29-04-2024
Published : false
---
#}
{% extends 'base.html.twig' %}
{% block body %}
    {% set title = get_title_by_path(_self) %}
    <h1 class="font-black text-2xl mb-5">{{ title }}</h1>
{% endblock %}