{# 
    This is the base brand layout, feel free to adapt this to your need.
#}
<div class="relative">
    <div class="fixed top-7 left-7 font-black text-xl uppercase">
        My brand
    </div>
</div>